.intro {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Cambay;
  font-size: 18px;
  color: #DFDEDE;
  text-align: left;
  align-content: left;
  height: 30vh;
}