.Github {
  font-size: 1.5em;
  margin: 1.5vw;
  color: #989898;
  cursor: pointer;
  
  &:hover {
    color: #DFDFDF;
  }
}

.Linkedin {
  font-size: 1.5em;
  color: #989898;
  cursor: pointer;
  
  &:hover {
    color: #DFDFDF;
  }
}
